Source: ros-jazzy-frame-editor
Section: misc
Priority: optional
Maintainer: ipa-danb <daniel.bargmann@ipa.fraunhofer.de>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-ament-cmake-python, ros-jazzy-builtin-interfaces, ros-jazzy-geometry-msgs, ros-jazzy-interactive-markers, ros-jazzy-rclpy, ros-jazzy-rosidl-default-generators, ros-jazzy-rqt-gui, ros-jazzy-rqt-gui-py, ros-jazzy-std-msgs, ros-jazzy-tf-transformations, ros-jazzy-tf2-ros, ros-jazzy-visualization-msgs, ros-jazzy-ros-workspace, ros-jazzy-rosidl-typesupport-fastrtps-c, ros-jazzy-rosidl-typesupport-fastrtps-cpp
Homepage: http://www.ipa.fraunhofer.de/
Standards-Version: 3.9.2

Package: ros-jazzy-frame-editor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-builtin-interfaces, ros-jazzy-geometry-msgs, ros-jazzy-interactive-markers, ros-jazzy-qt-gui-py-common, ros-jazzy-rclpy, ros-jazzy-rosidl-default-runtime, ros-jazzy-rqt-gui, ros-jazzy-rqt-gui-py, ros-jazzy-std-msgs, ros-jazzy-tf-transformations, ros-jazzy-tf2-ros, ros-jazzy-visualization-msgs, ros-jazzy-ros-workspace
Description: The frame_editor package
